.container2{
    height: auto;
    width: 100%;
    font-size: larger;
    font-weight: bolder;
    background-repeat: no-repeat;
    background-size:100% 100%;
}

.u-section-1 {
    background-position: 50% 50%;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 584px;
  }
  
  .u-section-1 .u-group-1 {
    min-height: 150px;
    width: 800px;
    margin: 60px auto 0;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 30px 60px;
  }
  
  .u-section-1 .u-text-1 {
    margin: 0;
    padding-bottom: 10px;
  }
  
  .u-section-1 .u-text-2 {
    margin: 20px 0 0;
    font-size: larger;
  }
  
  .u-section-1 .u-btn-1 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 30px auto 0;
  }
  
  .u-section-1 .u-list-1 {
    grid-template-rows: auto;
    width: 1063px;
    margin: 34px auto;
  }
  
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-gap: 0px 0px;
    min-height: 238px;
  }
  
  .u-section-1 .u-list-item-1 {
    background-size: auto;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-1 .u-text-3 {
    font-weight: 400;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-4 {
    margin: 20px 0 0;
  }
  
  .u-section-1 .u-list-item-2 {
    background-size: auto;
  }
  
  .u-section-1 .u-container-layout-3 {
    padding: 30px;
  }
  
  .u-section-1 .u-text-5 {
    font-weight: 400;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-6 {
    margin: 20px 0 0;
  }
  
  .u-section-1 .u-list-item-3 {
    background-size: auto;
  }
  
  .u-section-1 .u-container-layout-4 {
    padding: 30px;
  }
  
  .u-section-1 .u-text-7 {
    font-weight: 400;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-8 {
    margin: 20px 0 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 126px;
    }
  
    .u-section-1 .u-list-1 {
      height: auto;
      width: 940px;
      margin-bottom: 60px;
    }
  
    .u-section-1 .u-repeater-1 {
      min-height: 211px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 505px;
    }
  
    .u-section-1 .u-group-1 {
      width: 720px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-1 .u-list-1 {
      width: 720px;
    }
  
    .u-section-1 .u-repeater-1 {
      grid-template-columns: 100%;
      min-height: 238px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-group-1 {
      width: 540px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-list-1 {
      width: 540px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-group-1 {
      width: 340px;
    }
  
    .u-section-1 .u-list-1 {
      width: 340px;
    }

